h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border-style: none;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.form {
  display: flex;
  align-items: center;
  margin:36px auto;
  width: 371px;
  height: 40px;
}


input {
  box-sizing: border-box;
  width: 371px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
}

input::placeholder {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

}