h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: #4e75ff;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border-style: none;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  /* вертикальний напрямок */
  align-items: center;
  /* центрування по горизонталі */
  background: #b1c5f4;
  min-height: 100vh;
  /* щоб тягнулося на всю висоту */
  padding-top: 30px;
  /* необов’язково: відступ зверху */
}

.form {
  display: flex;
  align-items: center;
  margin: 36px auto;
  width: 371px;
  height: 40px;
}


input {
  box-sizing: border-box;
  width: 371px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
}

input::placeholder {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

}

/* Галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  justify-content: center;
}

/* Елемент галереї */
.gallery-item {
  flex: 0 0 calc((100% - 64px) / 5);
  max-width: calc((100% - 64px) / 5);
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Зображення в галереї */
.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Інформація під зображенням */
.gallery-item .info {
  padding: 8px;
  font-size: 14px;
  color: #333;
}

/*індікатр завантаження*/
/* .loader {
  position: fixed;/*relative*/
  /* display: flex; */
  /* top:50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
    /* Корекція для ідеального центру */
  /* align-items: center;
  justify-content: center; */
  /* height: 6rem; */
  /* max-width: 6rem; */
  /* margin-top: 3rem;
  margin-bottom: 3rem; */
  /* border: 8px solid rgba(0, 0, 0, 0.2); */
    /* Товщина та колір зовнішнього кільця */
    /* border-top-color: #4e75ff; */
    /* Верхній сегмент синього кольору */
    /* border-radius: 100%; */
    /* Робимо елемент круглим */
    /* animation: spin 1s linear infinite; */
    /* Анімація обертання */
  /* display: none; */
  /* border-radius: 50%; */
  /* background-color:rgba(0, 0, 0, 0.1); */
    /* напівпрозорий фон, щоб бачити блок */
    /* z-index: 999; */
/* }

.loader:before,
.loader:after {
  content: ""; */
  /* position: absolute;
  border-radius: 50%; */
  /* animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
} */

/* .loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem rgb(16, 15, 15);
  animation-name: pulsIn;
  
} */

/* .loader:after {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #000;
} */
/* 
@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #000;
    opacity: 1;
  }

  50%,
  100% {
    box-shadow: inset 0 0 0 0 #000;
    opacity: 0;
  }
} */
/* 
 @keyframes pulsOut {

  0%,
  50% {
    box-shadow: 0 0 0 0 #000;
    opacity: 0;
  }

  100% {
    box-shadow: 0 0 0 1rem #000;
    opacity: 1;
  } 
 }  */ 
 .loader {
  
   width: 48px;
   height: 48px;
   border: 5px solid #FFF;
   border-bottom-color: #FF3D00;
   border-radius: 50%;
   display: none;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
 }

 @keyframes rotation {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }